* {
  color: white;
  font-family: Verdana, sans-serif;
  font-style: bold;
}

html {
  background-color: #222222;
}

main {
  padding: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #111111;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f3f3f3;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eeeeee;
  color: black;
}

.topnav a.active {
  background-color: #3357d6;
  color: white;
}

iframe {
  width: 100%;
  max-height: 700px;
}

@media (max-width: 600px) {
  iframe {
    max-height: 400px;
  }
}
